.cancel {
    justify-content: right;
    align-items: right;
    background-color: red;
    color: white;
    border: 4px solid red;
    &:hover {
        background-color: white;
        color: red;
        transition: 0.3s;
    }
    &:active {
        background-color: red;
        color: black;
        border: 4px solid black;
    }
}

.confirm {
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: 4px solid #007bff;
    &:hover {
        background-color: white;
        color: #007bff;
        transition: 0.3s;
    }
    &:active {
        background-color: #007bff;
        color: black;
        border: 4px solid black;
    }
    &:disabled {
        background-color: gray;
        color: white;
        border: 4px solid gray;
        cursor: not-allowed;
        opacity: 0.35;
    }
}

button {
    border-radius: 20px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}


.warning-title {
    margin-left: 24px;
    color: red;
  }
