<div class="container justified">
    <h1 class="header-item">Bienvenue à {{ title }} !</h1>
    <img src="assets/Logo.png" alt="Logo Projet" />

    <div class="button-container">
        <button class="button" routerLink='/waiting-room-player-page'>Joindre une partie</button>
        <button class="button" routerLink="/game-creation-page">Créer une partie</button>
        <button class="button" routerLink="/game-admin-prompt">Administrer les jeux</button>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe #103</h4>
        <p>
            <span>Arman Lidder</span>, <span>Adlane Oussaada</span>, <span>Ely Cheikh Abass</span>, <span>Hamza Boukaftane</span>,
            <span>Mehdi El Harami</span>, <span>Rayan Ait Abdesselam</span>
        </p>
    </footer>
</div>
