.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin: 10px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.button-container {
    display: flex;
    padding: 10px;
    border: none;

    .button {
        margin-left: 10px;
        background-color: #007bff;
        color: white;
        border: 4px solid #007bff;

        &:hover {
            background-color: white;
            color: #007bff;
            transition: 0.3s;
        }

        &:active {
            background-color: #007bff;
            color: black;
            border: 4px solid black;
        }

        &.disabled-button {
            background-color: #ccc;
            color: #666;
            border: 4px solid #ccc;
            cursor: not-allowed;

            &:hover {
                background-color: #ccc;
                color: #666;
            }
        }
    }
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: rgb(27, 164, 98);
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}
