<div class="center-content">
    <div id="password-prompt_container">
        <h3>Authentification requise</h3>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" [(ngModel)]="authenticatorService.password" [class]="inputBorderColor">
        <p [class]="textColor"> {{loginStatus}} <p>
        <div class="justify-content">
            <button #enterButton (click)="updateStatus()" routerLink='/game-admin-page' class="enter"> Accéder </button>
            <button routerLink='/home' class="cancel"> Annuler </button>
        </div>
    </div>
</div>

