/* Sidebar container */
#sidebar {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}


.sidebar-header {
    text-align: center;
    font-size: 18px;
    margin: 10px;
    color: #000;
    border-radius: 10px;
}

/* (message display area) */
.sidebar-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    border: 2px solid rgb(167, 207, 233);
    border-radius: 10px;
    word-wrap: break-word;
    overflow-y: auto;
}
/* (one message's container) */
.message-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}
/* (the little text above the message) */
.username-said {
    font-size: 14px;
    font-weight: bold;
    color: #0151a6;
}

.me-said {
    font-size: 14px;
    font-weight: bold;
    color: red;
}

/* Message input box */
.message-input {
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    background-color: #f7eeee;
}

.message-input input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
}

.message-input input::placeholder {
    color: #999;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    text-align: center;
}
